$ff-base: 'Roboto', sans-serif;
$ff-alt-alpha: 'Playfair Display', serif;
$ff-alt-beta:  'Prata', serif;

$fs-1: 45px;
$fs-2: 32px;
$fs-3: 30px;
$fs-4: 16px;
$fs-5: 14px;
$fs-6: 12px;
$fs-7: 8px;

$clr-white:#ffffff;
$clr-1: #fdfdfb;
$clr-2: #f7f5ef;
$clr-3: #e6c8b4;
$clr-4: #d4b098;
$clr-5: #444240;
$clr-6: #8b8371;
$clr-7: #c4c0b6;

$clr-text-base: #1b1a17;
$clr-text-1: $clr-5; 
$clr-text-2: #555248;
$clr-text-3: rgba(27, 26, 23, 0.82);
