@import '../components/logo';

.footer {
  &__container {    
    padding: 79px 185px 54px;

    color: $clr-white;
    background-color: $clr-5;
  }

  &__info-list {
    display: flex;
  }

  &__info-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--contacts {
      margin-top: -6px;
    }

    &--about {
      margin-left: 150px;
    }

    &--customers {
      margin-left: 140px;
    }

    &--payment {
      margin-left: 155px;
    }
  }

  &__logo {
    display: flex;
    align-items: flex-end;
    
    margin-bottom: 25px;
  }

  &__title {
    margin-bottom: 30px;
      
    font-weight: 700;
    font-size: $fs-5;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  &__text,
  &__link {
    margin-bottom: 10px;

    font-size: $fs-6;
    line-height: 14px;
    color: $clr-text-4;

    transition: all 0.2s ease-in;
  }

  &__link:hover,
  &__link:focus {
    color: $clr-white;
  } 
}