@import '../components/navigation';
@import '../components/customer-navigation';

.header {

  &__container {
    display: flex;   
    align-items: center;

    min-height: 88px;

    background-color: $clr-1;   
  }
}